openapi: 3.1.0
info:
  title: OversizeAPI
  version: 0.9.0
  description:
    $ref: ./descriptions/main.md
  contact:
    name: Oversize Team
    url: https://oversize.app
    email: support@oversize.app
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.oversize.app
    description: Production API
  - url: https://test.api.oversize.app
    description: Test API

security:
  - ApiKeyAuth: []

tags:
  - name: apps
    description: Application-related endpoints
  - name: features
    description: Feature-related endpoints
  - name: ads
    description: Advertisement-related endpoints
  - name: in-app-purchases
    description: App Store In-AppPurchases integration endpoints
  - name: infos
    description: Information-related endpoints
  - name: systems
    description: System-related endpoints like health checks

paths:
  /v1/apps:
    $ref: './paths/apps/getApps.yaml'
  /v1/apps/{id}:
    $ref: './paths/apps/getApp.yaml'
  /v1/apps/{id}/features:
    $ref: './paths/apps/getAppFeatures.yaml'
  /v1/apps/{id}/features/sections:
    $ref: './paths/apps/getAppFeaturesSections.yaml'
  /v1/apps/{id}/ads:
    $ref: './paths/apps/getAppAd.yaml'
  /v1/apps/{id}/ad:
    $ref: './paths/apps/getAppAds.yaml'
  /v1/apps/{id}/in-app-purchases:
    $ref: "./paths/apps/getInAppPurchases.yaml"
  /v1/features/{id}:
    $ref: './paths/features/getFeature.yaml'
  /v1/in-app-purchases/offers:
    $ref: './paths/inAppPurchases/getInAppPurchaseOffers.yaml'
  /v1/infos:
    $ref: './paths/infos/getInfos.yaml'
  /v1/health-check:
    $ref: './paths/system/getHealthCheck.yaml'

components:
  securitySchemes:
    ApiKeyAuth:
      $ref: './components/securitySchemes/apiKeyAuth.yaml'