openapi: 3.1.0
info:
  title: OversizeAPI
  version: 0.9.0
  description:
    $ref: ./descriptions/main.md
  contact:
    name: Oversize Team
    url: https://oversize.app
    email: support@oversize.app
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.oversize.app
    description: Production API
  - url: https://test.api.oversize.app
    description: Test API

security:
  - ApiKeyAuth: []

tags:
  - name: apps
    description: Application-related endpoints
  - name: features
    description: Feature-related endpoints
  - name: ads
    description: Advertisement-related endpoints
  - name: app-store
    description: App Store integration endpoints
  - name: info
    description: Information-related endpoints
  - name: system
    description: System-related endpoints like health checks

paths:
  /v1/apps:
    $ref: './paths/apps/getApps.yaml'
  /v1/apps/{id}:
    $ref: './paths/apps/getApp.yaml'
  /v1/apps/{id}/features:
    $ref: './paths/GetAppFeatures.yaml'
  /v1/apps/{id}/features/sections:
    $ref: './paths/GetAppFeaturesSections.yaml'
  /v1/apps/{id}/ads:
    $ref: './paths/GetAppAds.yaml'
  /v1/apps/{id}/ad:
    $ref: './paths/GetAppAd.yaml'
  /v1/apps/{id}/app-store/productIds:
    $ref: "./paths/GetAppStoreProductIds.yaml"
  /v1/apps/{id}/app-store/products:
    $ref: "./paths/GetAppStoreProducts.yaml"
  /v1/features/{id}:
    $ref: './paths/GetAppFeature.yaml'
  /v1/sale-offers:
    $ref: './paths/GetSaleOffers.yaml'
  /v1/infos:
    $ref: './paths/GetInfos.yaml'
  /v1/health-check:
    $ref: './paths/system/getHealthCheck.yaml'

components:
  securitySchemes:
    ApiKeyAuth:
      $ref: './components/securitySchemes/apiKeyAuth.yaml'