openapi: 3.1.0
info:
  title: OversizeAPI
  version: 0.9.0
  description: API specification for Oversize applications
  contact:
    name: Oversize Team
    url: https://oversize.app
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.oversize.app
    description: API url
  - url: https://test.api.oversize.app
    description: Test API url
security:
  - ApiKeyAuth: []
paths:
  /v1/apps:
    get:
      operationId: getApps
      summary: Retrieve applications
      description: Get all app
      tags:
        - apps
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: A success response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/App'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Bad request
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Internal server error
  /v1/apps/{id}:
    get:
      operationId: getApp
      summary: Retrieve application
      description: Get App Information
      tags:
        - apps
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          required: true
          in: path
          description: The application id used in the returned features
          schema:
            type: string
            example: 1
      responses:
        '200':
          description: A success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '404':
          description: Feature not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: App not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Internal server error
  /v1/apps/{id}/features:
    get:
      operationId: getAppFeatures
      summary: Retrieve application features
      description: Get all features associated with a specific application
      tags:
        - features
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          required: true
          in: path
          description: The application id used in the returned features
          schema:
            type: string
            example: 10000000
        - name: context
          required: false
          in: query
          description: Filter features by context
          schema:
            type: string
            enum:
              - paywall
              - onboarding
            example: paywall
        - name: platform
          required: false
          in: query
          description: Filter features by platform
          schema:
            type: string
            enum:
              - iOS
              - macOS
              - tvOS
              - watchOS
              - visionOS
              - web
            example: iOS
      responses:
        '200':
          description: A success response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Feature'
        '404':
          description: Application not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Application features not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Internal server error
  /v1/apps/{id}/features/sections:
    get:
      operationId: getAppFeaturesSections
      summary: Retrieve application features sections
      description: Get all features associated with a specific application
      tags:
        - features
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          required: true
          in: path
          description: The application id used in the returned features
          schema:
            type: string
            example: 1
        - name: platform
          required: false
          in: query
          description: Filter features by platform
          schema:
            type: string
            enum:
              - iOS
              - macOS
              - tvOS
              - watchOS
              - visionOS
              - web
            example: iOS
      responses:
        '200':
          description: A success response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Section'
        '404':
          description: Application not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Application features not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Internal server error
  /v1/apps/{id}/ads:
    get:
      operationId: getAppAds
      summary: Retrieve application ads
      description: Get all ads features associated with a specific application
      tags:
        - ads
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          required: true
          in: path
          description: The application id used in the returned features
          schema:
            type: string
            example: 1
      responses:
        '200':
          description: A success response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ad'
        '404':
          description: Application ads not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Application ads not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Internal server error
  /v1/apps/{id}/ad:
    get:
      operationId: getAppAd
      summary: Retrieve application ad
      description: Get ad associated with a specific application
      tags:
        - ads
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          required: true
          in: path
          description: The application id used in the returned ad
          schema:
            type: string
            example: 1
      responses:
        '200':
          description: A success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ad'
        '404':
          description: Application ad not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Application ad not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Internal server error
  /v1/apps/{id}/app-store/productIds:
    get:
      operationId: GetAppStoreProductIds
      summary: Retrieve application App Store products ids
      description: Get all subscription ids associated with a specific application
      tags:
        - apps
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          required: true
          in: path
          description: The application id used in the returned features
          schema:
            type: string
            example: 1
      responses:
        '200':
          description: A success response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '404':
          description: Application not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Application not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Internal server error
  /v1/apps/{id}/app-store/products:
    get:
      operationId: GetAppStoreProducts
      summary: Retrieve application App Store products
      description: Get all subscription ids associated with a specific application
      tags:
        - app-store
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          required: true
          in: path
          description: The application id used in the returned features
          schema:
            type: string
            example: 1
      responses:
        '200':
          description: A success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreProducts'
        '404':
          description: Application not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Application not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Internal server error
  /v1/features/{id}:
    get:
      operationId: getAppFeature
      summary: Retrieve application features
      description: Get all features associated with a specific application
      tags:
        - features
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          required: true
          in: path
          description: The application id used in the returned features
          schema:
            type: string
            example: 1000000
      responses:
        '200':
          description: A success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feature'
        '404':
          description: Feature not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: App features not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Internal server error
  /v1/sale-offers:
    get:
      operationId: getSaleOffers
      summary: Retrieve StoreKit offers
      description: Get all sale offers
      tags:
        - appStore
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: A success response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SaleOffer'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Bad request
  /v1/infos:
    get:
      tags:
        - infos
      summary: Fetch info
      operationId: fetchInfo
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Info'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Bad request
  /v1/health-check:
    get:
      summary: Health Check
      description: Endpoint to check the health of the service
      operationId: getHealthCheck
      tags:
        - other
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - up
                      - down
                    example: up
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Bad request
        '500':
          description: Service is not healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: down
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
  schemas:
    Platform:
      type: object
      required:
        - id
        - title
      properties:
        id:
          type: string
          enum:
            - iOS
            - macOS
            - tvOS
            - watchOS
            - visionOS
            - web
          example: iOS
        title:
          type: string
    App:
      required:
        - id
        - name
        - title
        - subtitle
        - address
        - termsDate
      properties:
        id:
          type: string
          example: 1661200390
        iconUrl:
          type: string
          format: url
          example: https://oversize.app/assets/icons/apps/calendardo.png
        name:
          type: string
          example: Calendar Do
        title:
          type: string
          example: Add tasks to meetings
        subtitle:
          type: string
          example: All your meetings on a simple list
        description:
          type: string
          example: A simple and convenient viewing of events from the calendar in the form of a list of tasks with the possibility of adding subtasks to events. Convenient adding new events to the calendar as in the lists of tasks
        address:
          type: string
          example: calendardo
        termsDate:
          type: string
          example: '2022-12-31'
          format: date
        termsAdditions:
          type: array
          items:
            type: string
        platforms:
          items:
            $ref: '#/components/schemas/Platform'
    Feature:
      type: object
      required:
        - id
        - title
        - textAlignment
        - textSize
      properties:
        id:
          type: string
          description: Computed identifier from image, title, and subtitle
        title:
          type: string
          description: Title of the store features
          example: Smart Weather Detection
        subtitle:
          type: string
          description: Subtitle of the store features
          example: Real-time weather updates
        description:
          type: string
          description: Description of the store features
          example: Get instant notifications about weather changes
        textSize:
          type: string
          enum:
            - small
            - medium
            - large
          example: medium
          description: Size of the text content
        textAlignment:
          type: string
          enum:
            - leading
            - center
            - trailing
          example: center
          description: Alignment of the text content
        iconUrl:
          type: string
          format: url
          example: https://cdn.oversize.design/assets/apps/dressweather/features/2.png
          description: URL for the features icon
        illustrationUrl:
          type: string
          format: url
          example: https://cdn.oversize.design/assets/apps/dressweather/features/2.png
          description: URL for the features icon
        screenshotUrl:
          type: string
          format: url
          example: https://cdn.oversize.design/assets/apps/dressweather/screenshots/1.png
          description: URL for the features screenshot
        screenshotAlignment:
          type: string
          enum:
            - top
            - bottom
          example: top
          description: Vertical alignment of the screenshot
        backgroundColor:
          type: string
          example: ffffff
          description: Background color value in hex format without
    Section:
      type: object
      required:
        - id
        - title
        - type
        - features
      properties:
        id:
          type: integer
          example: 100
        type:
          type: string
          example: cards
          enum:
            - grid
            - list
        title:
          type: string
          example: Features
        subtitle:
          type: string
          example: Amazing features
        description:
          type: string
          example: All data is saved in the phone or is possible synchronization with iCloud
        color:
          type: string
          example: F53C6E
        gridColumns:
          type: integer
          example: 1
        screenshotUrl:
          type: string
          format: uri
          example: https://cdn.oversize.design/assets/apps/dressweather/screenshots/1.png
        features:
          type: array
          items:
            $ref: '#/components/schemas/Feature'
    Ad:
      type: object
      required:
        - id
        - title
        - description
      properties:
        id:
          type: integer
          example: 6443709281
        title:
          type: string
          example: Control weight easily, follow the successes of every month
        description:
          type: string
          example: Control weight easily, follow the successes of every month
        iconURL:
          type: string
          format: url
        priority:
          type: integer
          example: 1
    AppStoreBanner:
      type: object
      required:
        - id
        - title
        - description
      properties:
        id:
          type: integer
          example: 6443709281
        title:
          type: string
          example: Control weight easily, follow the successes of every month
        description:
          type: string
          example: Control weight easily, follow the successes of every month
    AppStoreProducts:
      required:
        - productIds
        - banner
      properties:
        productIds:
          type: array
          items:
            type: string
        banner:
          $ref: '#/components/schemas/AppStoreBanner'
      type: object
    SaleOffer:
      type: object
      required:
        - id
        - title
        - startDate
        - endDate
      properties:
        id:
          type: integer
          example: 1
        badge:
          type: string
          example: Special Offer
        title:
          type: string
          example: Get <salePercent>% OFF
        headline:
          type: string
          example: It is very difficult to reset everything
        description:
          type: string
          example: Get up to <salePercent>% off for <subscriptionName> subscription and Free full access for <freeDays> days
        imageURL:
          type: string
          format: url
        startDate:
          type: string
          example: '2023-11-24T00:00:00Z'
          format: date-time
        endDate:
          type: string
          example: '2023-11-26T23:59:59Z'
          format: date-time
        accentColor:
          type: string
          example: F53C6E
        effect:
          type: string
          example: snow
          enum:
            - snow
        region:
          type: array
          items:
            type: string
    SocialNetwork:
      type: object
      required:
        - id
        - title
        - url
        - iconUrl
      properties:
        title:
          type: string
          example: facebook
        id:
          type: string
          example: aromanov91
        url:
          type: string
          example: https://www.facebook.com/aromanov91
        iconUrl:
          type: string
          example: https://cdn.oversize.design/assets/icons/brands/dribbble.svg
    Developer:
      required:
        - email
        - name
        - socialNetworks
        - url
      properties:
        email:
          type: string
          example: alexander@oversize.app
        name:
          type: string
          example: Alexander Romanov
        socialNetworks:
          items:
            $ref: '#/components/schemas/SocialNetwork'
        url:
          type: string
          example: https://romanov.cc
      type: object
    Company:
      required:
        - name
        - url
        - email
        - socialNetworks
        - supportEmail
      properties:
        name:
          type: string
          example: Oversize
        url:
          type: string
          format: url
          example: https://oversize.app
        email:
          type: string
          example: support@oversize.design
        supportEmail:
          type: string
          example: support@oversize.design
        appStoreId:
          type: string
          example: '1459928735'
        socialNetworks:
          items:
            $ref: '#/components/schemas/SocialNetwork'
      type: object
    Info:
      required:
        - developer
        - company
      properties:
        developer:
          $ref: '#/components/schemas/Developer'
        company:
          $ref: '#/components/schemas/Company'
