openapi: 3.1.0
info:
  title: OversizeAPI
  version: 0.3.0
  description: API specification for Oversize application features
  contact:
    name: Oversize Team
    url: https://oversize.app
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.oversize.app
    description: API url
security:
  - ApiKeyAuth: []
paths:
  /v1/app/{id}/features:
    get:
      operationId: getAppFeatures
      summary: Retrieve application features
      description: Get all features associated with a specific application
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          required: true
          in: path
          description: The application id used in the returned features
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: A success response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Feature'
        '404':
          description: Application not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Application features not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Internal server error
  /v1/app/{id}/features/premium:
    get:
      operationId: getAppFeaturesPremium
      summary: Retrieve application premium features
      description: Get all premium features associated with a specific application
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          required: true
          in: path
          description: The application id used in the returned features
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: A success response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Feature'
        '404':
          description: Application features not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Application features not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Internal server error
  /v1/app/{id}/features/onboarding:
    get:
      operationId: getAppFeaturesOnboarding
      summary: Retrieve application onboarding features
      description: Get all onboarding features associated with a specific application
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          required: true
          in: path
          description: The application id used in the returned features
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: A success response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Feature'
        '404':
          description: Application features not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Application features not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Internal server error
  /v1/app/{id}/ads:
    get:
      operationId: getAppAds
      summary: Retrieve application ads
      description: Get all ads features associated with a specific application
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          required: true
          in: path
          description: The application id used in the returned features
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: A success response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ad'
        '404':
          description: Application ads not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Application ads not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Internal server error
  /v1/app/{id}/ad:
    get:
      operationId: getAppAd
      summary: Retrieve application ad
      description: Get ad associated with a specific application
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          required: true
          in: path
          description: The application id used in the returned ad
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: A success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ad'
        '404':
          description: Application ad not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Application ad not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Internal server error
  /v1/app/{id}/subscriptions/ids:
    get:
      operationId: GetAppSubscriptionIds
      summary: Retrieve application subscription ids
      description: Get all subscription ids associated with a specific application
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          required: true
          in: path
          description: The application id used in the returned features
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: A success response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '404':
          description: Application subscriptions not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Application subscriptions not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Internal server error
  /v1/feature/{id}:
    get:
      operationId: getAppFeature
      summary: Retrieve application features
      description: Get all features associated with a specific application
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          required: true
          in: path
          description: The application id used in the returned feature
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: A success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feature'
        '404':
          description: Feature not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: App feature not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Internal server error
  /v1/health-check:
    get:
      summary: Health Check
      description: Endpoint to check the health of the service
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - up
                      - down
                    example: up
        '500':
          description: Service is not healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: down
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
  schemas:
    Feature:
      type: object
      required:
        - id
        - title
        - textAlignment
        - textSize
      properties:
        id:
          type: integer
          description: Computed identifier from image, title, and subtitle
        title:
          type: string
          description: Title of the store feature
          example: Smart Weather Detection
        subtitle:
          type: string
          description: Subtitle of the store feature
          example: Real-time weather updates
        description:
          type: string
          example: Get instant notifications about weather changes
        textSize:
          type: string
          enum:
            - small
            - medium
            - large
          example: medium
          description: Size of the text content
        textAlignment:
          type: string
          enum:
            - leading
            - center
            - trailing
          example: center
          description: Alignment of the text content
        iconUrl:
          type: string
          format: url
          example: https://cdn.oversize.design/assets/apps/dressweather/features/2.png
          description: URL for the feature icon
        screenshotUrl:
          type: string
          format: url
          example: https://cdn.oversize.design/assets/apps/dressweather/screenshots/1.png
          description: URL for the feature screenshot
        screenshotAlignment:
          type: string
          enum:
            - top
            - bottom
          example: top
          description: Vertical alignment of the screenshot
        backgroundColor:
          type: string
          example: ffffff
          description: Background color value in hex format without
    Ad:
      type: object
      required:
        - id
        - title
        - description
      properties:
        id:
          type: string
          example: '6443709281'
        title:
          type: string
          example: Control weight easily, follow the successes of every month
        description:
          type: string
          example: Control weight easily, follow the successes of every month
        iconURL:
          type: string
        priority:
          type: integer
          example: 1
